
@import "_reset";
@import "./hamburgers/hamburgers.scss";

nav {
	height:70px;
	background-color: #000!important;
	font-family: 'Fira Sans';
	font-weight: 300;
}


nav .navbar-brand{
	height:60px!important;
	padding: 0;
}

nav li{
	font-size: 20px;
	color: #FFFF!important;
}
nav a{
	margin: 0 25px 0 0;
	color: #FFFF!important;
}
 
.active a{
	align-items: center;
    height: 70px;
    color: #007bff!important;
    border-bottom: solid #007bff 5px;
    display: flex;
    padding: 0!important;
}
nav ul{
	width: 100%;
	margin-left: 340px;
}

.dropdown a {
	font-size: 25px;
}
.languageLi{
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	height: 70px;
	text-align: center;
	margin-right: 25px!important;
}
.dropdown-toggle::after {
    display: none;
}
#navbarDropdownI{
	font-size: 16px;
}
.languageLi a{
	margin: 0;
	font-size: 20px;
	padding-top: 15px;
} 
nav .fa-angle-down{
	margin-top: -4px;
}
nav .dropdown-menu{
	min-width: 20px!important;
	margin-left: -18px;
	width: 77px;

}
nav .dropdown-menu a{
	color: #000!important;
	margin-left:-7px;
	background-color: rgba(0,0,0,0)!important;
	font-size: 20px;
	font-weight: 300;
}
nav .dropdown-menu a:hover{
	color: rgba(0,0,0,0.5)!important;
}
nav .nav-link:hover {
    color: rgba(255,255,255,.45)!important;
}
.bottomLi{
	display: none;
}
button:focus {
     outline: none;

     outline: none; 
}
.logoNavWraper{
	position: absolute;
}

.hamburger{
	margin:auto 0 auto auto;
}







@media (max-width: 576px) { 
	nav .navbar-brand{
	height:40px!important;
	padding: 0;
}

 }
@media (max-width: 1150px) {
nav li{
	font-size: 17px;
}
nav a{
	margin: 0 10px 0 0;

}
}
@media (max-width: 991px) {
	nav li:first-child{
		margin-left: 0;
}

    nav a{
		margin-right: 0!important;
		color: #39393a!important;
		border: none;
	}
	.languageLi{
		display: none!important;
	}

	nav ul{
		margin-bottom: 8%;
    	margin-top: 8%;
    	//position: absolute;
    	height: 66vh;
    	background-color: #fff;
    	width: 80%;
    	margin-left: 10%;
	}
	nav ul li {
		width: 100%;
		color:rgba(0,0,0,.45)!important;
		height: 11vh;
		
		display: grid;
		align-items: center;
    	text-align: center;
	}
	.active a{
    	color: #fff!important;
    	border-bottom: none;
		background-color: red;
		display: grid;
		height: 100%;
    	background-color: #5c9bdf;
	}
	
	nav .nav-link:hover {
    	color: rgba(0, 0, 0, 0.45) !important;
	}
	nav .nav-link:hover {
    	color: rgb(0,0,0)!important;
	}
	.active a:hover{
  		color: #fff!important;
	}
	.bottomLi{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
    	background-color: #000;
    	bottom: 0;
    	position: fixed;
	}
	
	.bottomLi img{
		height:40px;
	}

}

